<div class="row justify-content-lg-center g-3">
    <h1>Muzhda Ehsan</h1>
    <div id="messageArea"></div>
    
    <div>
        <p>
            This is Muzhda Ehsan, a 2nd year student at Durham College in Computer Programming Analyst program. I chose this field since it is very interesting and I like to code. 
            One of my biggest wishes is to have my own software company. I am a hard working person and I have developed my interpersonal skills through these courses.
        </p>
    </div>
    <div>
        <p class="text-center text-muted small">
            Don't have an account? 
            <a href="/register">Register Here!</a>
          </p>
    </div>

  </div>