<div class="row justify-content-lg-center g-3">
    <h1>Muzhda Ehsan</h1>
    <div id="messageArea"></div>
    
    <div>
        <p>
            This is Muzhda Ehsan, a 2nd year student at Durham College in Computer Programming Analyst program. I chose this field since it is very interesting and I like to code. 
            One of my biggest wishes is to have my own software company. I am a hard working person and I have developed my interpersonal skills through these courses.
        </p>
    </div>
    <div>
        <p class="text-left text-muted small">
            Want to know more? 
            <a href="/Client/Assets/images/MuzhdaResume.pdf">View Resume</a>
          </p>
    </div>
    <div>
        
         <img src="images/MuzhdaImage.jpg">   
    </div>

  </div>

  <div class="row justify-content-lg-center g-3">
    <h1>Chibueze Momah</h1>
    <div id="messageArea"></div>
    
    <div>
        <p>
            Ever since I was a kid, I have always been passionate about programming and hacking. I remember how I used to love movies that involved Artificial Intelligence (AI), 
            how I used to tell myself I would build something extraordinary. I encountered programming in my final year of high school, and since then, 
            I have come a long way.
        </p>
    </div>
    <div>
        <p class="text-left text-muted small">
            Want to know more? 
            <a href="/Client/Assets/images/ChibuezeResume.pdf">View Resume</a>
          </p>
    </div>
    <div>
        
         <img src="/Client/Assets/images/ChibuezeImage.jpg">   
    </div>

  </div>