<div class="row justify-content-lg-center g-3 hero-image">
    
    <div class="text-center">
        <h1>WEBD6201 - GROUP 3</h1>
    </div>

    <div class="text-center">
        <img src="images/MuzhdaImage.jpg">
    </div>

    <div>
        <p>
            We are students at Durham College in Computer Programming Analyst program. We have background of software development in a company with senior developers. 
            We have gained various experiences and we have our own ideas and views. We will try our best to work independently or to have our own company. 
            We like the atmosphere of startups and entrepreneurship and we try not to be unaware of it
        </p>
    </div>
</div>


    