<div class="row justify-content-lg-center g-3">
    <div class="text-center">
        <h1>Muzhda & Chibueze's Projects</h1>
    </div>
    <div id="messageArea"></div>
    <div>
        <h4>Muzhda - 1st Project:</h4>
        <img src="/Client/Assets/images/firstProject.PNG">   
        <p>
            This a project which recorded the details for a salesperson, client, and calls into database. All the users in this project had their own rights.
            Admin was the person who could grant and revoke the rights from other users. This project was designed and written using PHP
        </p>
    </div>

    <div>
        <h4>Muzhda - 2nd Project:</h4>
        <img src="/Client/Assets/images/secondProject.PNG">   
        <p>
            Tesla, Inc., is an American electric vehicle and clean energy company based in Palo Alto, California. 
            This website was designed to show provide some information about Tesla.
        </p>
    </div>

    <div>
        <h4>Muzhda - 3rd Project:</h4>
        <img src="/Client/Assets/images/thirdProject.png">   
        <p>
            This was a System Automation project, which was coded in Linux. It was simply asked for the user to enter the students and marks, 
            then it was able to display each student's GPA and grade.
        </p>
    </div>
</div>
