<div class="text-center">
<h1>Our Services</h1>
</div>

<div>
    <h4>1st Service: Web Design</h4>
</div>

<div>
    <img src="/Client/Assets/images/webdesign.jpg">   
</div>
<div>
    <p>
        
    </p>
</div>