<div class="text-center">
<h1>Our Services</h1>
</div>

<div>
    <h4>1st Service: Web Design</h4>
</div>

<div>
    <img src="images/webdesign.jpg">   
</div>
<div>
    <p>
        We create the design and layout for websites and webpages.

        We help guide businesses in improving processes, products, services and software through data analysis and requirement gathering

        3rd Service: Database Management
    </p>
</div>
<div>
    <h4>2nd Service: Business Analysis & Organizational Management</h4>
</div>
<div>
    <img src="images/business.jpg">   
</div>
<div>
    <p>
        We help guide businesses in improving processes, products, services and software through data analysis and requirement gathering

        3rd Service: Database Management
    </p>
</div>
<div>
    <h4>2nd Service: Business Analysis & Organizational Management</h4>
</div>
<div>
    <img src="images/database.jpg">   
</div>
